.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center; /* vertically*/
    position: sticky;
    top:0;
}

.topbarLeft{
    flex : 3;
}

.topbarCenter{
    flex:5;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
}

.topbarRight{
    flex:4;
}

.topbarImg{
    width: 32px;
    height: 32px;
}